<template lang='pug'>
ul.fb.font-bold
  li.p-1(v-for='i in navLinks' :key='i.text')
    nuxt-link(:to='i.url') {{i.text}}
</template>

<script>
export default {
  data:()=>({
    navLinks:[
      {text:'QUESTS',url:'/quests'},
      {text:'Q&A',url:'/qa'},
      {text:'Comments',url:'/comments'},
      {text:'Players',url:'/users'},
      {text:'Profile',url:'/profile'},
    ]
  })
}
</script>

<style>

</style>
