<template>
<div v-if='info'>
<p>This is Profile Page</p>
<p >{{info.name}} - {{info.score}}</p>
<p>Register {{info.registerDate}}</p>
</div>
</template>

<script>
export default {
  data:()=>({
    uid:null,
    info:null,
  }),
  methods:{
    
  },
  computed:{
  },
  async mounted(){
    let name=this.$route.params.name
    this.info=(await this.$fire.database.ref(`/users/${name}`).child('info').once('value')).val() || {}
  }
}
</script>

<style>

</style>