<template lang='pug'>
.h-screen.bg-screen.flex.flex-col
  TheNav
  nuxt.flex-grow
  TheFooter
</template>

<style>
html {
  font-family: 'Lobster', cursive;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.fb{
  display: flex;
  justify-content: space-between;
}
.fc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.bg-screen{
  background: #2A0944;
  color: #FEC260;
}
</style>
