<template lang='pug'>
//fix
.fc
  label.mb-8 Оставь коммент или пожелание:
    input.mx-4(v-model='text')
    button(@click='sendComment') Отправить
  .feed(v-if='comments!==[]')
    .flex.mb-2(v-for='c in comments' :key='c.id')
      button.bg-of.rounded-full.w-6.h-6.mr-2(@click='toUser(c.uid)') {{c.name.slice(0,2)}}
      p {{c.text}}--{{c.date}}
</template>

<script>
export default {
  data:()=>({
    text:'',
    comments:[],
  }),
  methods:{
    async sendComment(){
      let user= await this.$fire.auth.currentUser
      await this.$fire.database.ref(`/comments`).push({
        text: this.text,
        name:user.displayName,
        uid:user.uid,
        date:new Date().toJSON()
      })
      await this.fetchComments()
    },
    async fetchComments(){
      const comments=(await this.$fire.database.ref(`/comments`).once('value')).val() || []
      this.comments=Object.keys(comments).map(key => ({...comments[key], id: key}))
    },
    toUser(id){
      this.$router.push(`/user/${id}`)
    }
  },
  async mounted(){
    await this.fetchComments()
  }
}
</script>

<style>
.bg-of{
  background: #A12568;
}
</style>