<template lang='pug'>
.w-full.h-full.text-center.flex.flex-col
  .fb
    .card(v-for='i in 2') Text {{i}}
  .fb
    .card(v-for='i in 2') Game {{i}}
  .counter.fb()
      .current
        p 5
        small Currrent Games
      .players
        p 28
        small Current players
      .top
        p Alex1
        p Max
        p Gleb
</template>

<script>
export default {}
</script>

<style>
.card{
  padding: 4px;
  margin: 8px;
  width: 45%;
  height: 150px;
  border: 2px solid #A12568;
  border-radius: 10px;
}
.counter{
  padding: 4px;
  margin: 8px;
  border: 2px solid #A12568;
  border-radius: 10px;
}
</style>
