<template lang='pug'>
.fc
  .flex.mb-8
    .mx-auto
      button.mr-4(@click="authMethod='login'") SignIn
      button(@click="authMethod='register'") SignUp
  form.relative(@submit.prevent='auth')
    .mb-2
      label(v-if="authMethod=='register'") Login
        input.ml-2.left(v-model='name')
    .mb-2
      label Email
        input.ml-2.left(v-model='email')
    .mb-2
      label Password
        input.ml-2.left(v-model='password')
    .fc
      button.mx-auto(type='submit') {{authText}}
</template>

<script>
export default {
  data:()=>({
    name:'',
    password:'',
    email:'',
    authMethod:'login',
  }),
  methods:{
    async auth(){
      if (this.authMethod=='login'){
        await this.login(this.email,this.password)
      }else if(this.authMethod=='register'){
        await this.register(this.email,this.password,this.name)
      }
    },
    async login(email,password){
      try {
        await this.$fire.auth.signInWithEmailAndPassword(email, password)
      } catch (e) {
        console.log(e)
      }finally{
        const uid = await this.getUid()
        localStorage.setItem('uid',uid)
        this.$router.push('/')
      }
    },
    async register(email,password,name){
      try {
        await this.$fire.auth.createUserWithEmailAndPassword(email, password)
      } catch (e) {
        console.log(e)
      }finally{
        const user = await this.$fire.auth.currentUser
        localStorage.setItem('uid',user.uid)
        await this.$fire.database.ref(`/users/${user.uid}/info`).set({
          score: 0,
          name,
          registerDate:new Date().toJSON()
        })
        user.updateProfile({
          displayName: name
        })
        this.$router.push('/')
      }
    },
    getUid() {
      if (localStorage.getItem('uid')){
        return localStorage.getItem('uid')
      }else{
        const user = this.$fire.auth.currentUser
        return user?user.uid:null
      }
    },
    
  },
  async mounted(){
    //await this.$fire.authReady()
  },
  computed:{
    authText(){
      return this.authMethod=='login'? 'Login':'Register'
    }
  },
}
</script>

<style>
form{
  width: 260px;
}
.left{
  position: absolute;
  right: 0;
}
</style>