<template lang='pug'>
div
  button(@click='logout' class='logoutButton') Logout
  .fc
    p This is Profile Page
    p(v-if='info') {{info.name}} - {{info.score}}
</template>

<script>
export default {
  data:()=>({
    uid:null,
    info:null,
    loading:false,
  }),
  methods:{
    async logout() {
      await this.$fire.auth.signOut()
      localStorage.removeItem('uid')
      this.$router.push('/')
    }
  },
  computed:{
  },
  async mounted(){
    const uid=localStorage.getItem('uid')
    if(uid){
      this.uid=uid
    }else{
      const user = await this.$fire.auth.currentUser
      if(user){
        this.uid=user.uid
       }else{
         this.$router.push('/login')
       }
    }
    this.info=(await this.$fire.database.ref(`/users/${this.uid}`).child('info').once('value')).val() || {}
  }

}
</script>

<style>
.logoutButton{
  position: absolute;
  right: 12px;
  top:32px;
}
</style>