<template lang='pug'>
.fc
  p Что это и где Я?
  p Это пешеходный квест по нашему городу. Этот сайт создан в исследовательских целях, от нечего делать ¯\_(ツ)_/¯  
  br
  p Это платно? Что я получу за прохождение?
  p Квест полностью бесплатный. За прохождение будут символические призы.
  br
  p Почему у меня не работает ___?
  p Сайт еще находится в разработке, возможны некоторые баги... Без них никуда
  br
  p Я хочу помочь проекту, что мне сделать?
  p Контакты для связи можете найти у меня в профиле 
    a.font-bold.text-red-800.underline(href='https://github.com/warsngl') GitHub  
  br
  p Хочу предложить свой КВЕСТ/МАРШРУТ, внести улучшения/исправления
  p Можете написать на странице комментов с #КВЕСТ или смотри пункт выше.    
</template>

<script>
export default {

}
</script>

<style>

</style>