<template lang='pug'>
ul.mx-auto(v-if='users')
  li(v-for='u in users')
    p.cursor-pointer(@click='toUser(u.id)') {{u.info.name}} - {{u.info.score}}
</template>

<script>
// 
export default {
  data:()=>({
    users:null,
  }),
  async mounted(){
    const userList=(await this.$fire.database.ref(`/users`).once('value')).val() || []
    this.users=Object.keys(userList).map(key => ({...userList[key], id: key}))
  },
  computed:{
    
  },
  methods:{
    toUser(id){
      this.$router.push(`/user/${id}`)
    }
  }
}
</script>

<style>

</style>